body {
    margin: 0 auto;
    width: max(200px, min(50%, 1000px));
    font-family: sans-serif;
}
h1{
    letter-spacing: 2px;
    font-size: clamp(1.8rem, 2.5vw, 2.8rem);
}
p {
    line-height: 1.5;
    background-color: aquamarine;
}
  